@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Koh+Santepheap:wght@100;400&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
.App {
  text-align: center;
  min-height: 1vh;
  margin-bottom: 140px;
}

.App-logo {
  /* animation: App-logo-spin infinite 30s linear; */
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.vendors{
  color: rgb(255, 113, 113) !important;
}

.top-nav a{
  color: white;
  text-decoration: none;
}
.top-nav {
  font-family: 'Raleway', sans-serif;

}
.top-nav a:hover{
  color: #61dafa;
  text-decoration: underline;
}
.App {
  background-color: rgb(112, 117, 143);
}
.sectionHeading {
  font-family: 'Playball', cursive;
}
.spinCardTitle {
  font-family: 'Playball', cursive;
}
.assetItem {
  width:100px;
  height:100px;
}